@font-face {
  font-family: "ZenOldMincho";
  src: url("/fonts/ZenOldMincho-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ZenOldMincho";
  src: url("/fonts/ZenOldMincho-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ZenOldMincho";
  src: url("/fonts/ZenOldMincho-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ZenOldMincho";
  src: url("/fonts/ZenOldMincho-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ZenOldMincho";
  src: url("/fonts/ZenOldMincho-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-primary: #0049d0;
}

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
pre {
  margin: 0;
}

h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 900;
}

h2 {
  margin-bottom: 15px;
}

p {
  margin-bottom: 10px;
}

label {
  margin-right: 5px;
  display: inline-flex;
  align-items: center;
}

input {
  border-radius: 0;
  border: 1px solid black;

  &:focus-visible {
    outline-style: outset;
  }

  + button {
    border-left: none;
  }
}

button {
  font-family: "ZenOldMincho", sans-serif;
  border-radius: 0;
  cursor: pointer;
  background-color: var(--color-primary);
  color: white;
  border: 1px solid black;
  padding: 5px 10px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
}

code {
  font-family: monospace;
  background-color: var(--color-primary);
  color: white;
  padding: 0 2px;
  text-decoration: none;
}

pre {
  border-top: 1px solid var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
  padding: 10px;

  code {
    background-color: unset;
    color: black;
    font-size: 1rem;
  }
}

a {
  color: black;

  // &[target="_blank"]::after {
  &::after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;
  }
}

body {
  font-family: "ZenOldMincho", sans-serif;
  min-height: 100svh;
  margin: 0;
  padding: 20px;

  position: relative;

  &::before,
  &::after {
    pointer-events: none;
    content: "";
    position: absolute;
  }

  &::before {
    border-right: 1px solid var(--color-primary);
    border-left: 1px solid var(--color-primary);
    inset: 0 20px;
  }

  &::after {
    border-top: 1px solid var(--color-primary);
    border-bottom: 1px solid var(--color-primary);
    inset: 20px 0;
  }

  section {
    padding: 10px;
    border-bottom: 1px solid var(--color-primary);

    &:last-of-type {
      border-bottom: none;
    }
  }
}

#intro {
  padding-bottom: 40px;

  pre {
    margin-inline: -10px;
  }

  &:has(pre) {
    padding-bottom: 0;
    border-bottom: none;
  }
}

#preview-from-url {
  padding: 0;
  display: grid;
  grid-template-columns: auto 1fr;

  h2 {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 14px;
  }

  form {
    padding: 10px;
    padding-top: 12px;
    padding-right: 12px;
    border-left: 1px solid var(--color-primary);
    display: inline-flex;
    input {
      flex-grow: 1;
    }
  }

  #preview {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
