@font-face {
  font-family: "TwitterChirp";
  src: url("https://abs.twimg.com/responsive-web/client-web/Chirp-Light.3a18e64a.woff2")
      format("woff2"),
    url("https://abs.twimg.com/responsive-web/client-web/Chirp-Light.7a5673aa.woff")
      format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TwitterChirp";
  src: url("https://abs.twimg.com/responsive-web/client-web/Chirp-Regular.80fda27a.woff2")
      format("woff2"),
    url("https://abs.twimg.com/responsive-web/client-web/Chirp-Regular.60b215ba.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TwitterChirp";
  src: url("https://abs.twimg.com/responsive-web/client-web/Chirp-Medium.f8e2739a.woff2")
      format("woff2"),
    url("https://abs.twimg.com/responsive-web/client-web/Chirp-Medium.20fc288a.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TwitterChirp";
  src: url("https://abs.twimg.com/responsive-web/client-web/Chirp-Bold.ebb56aba.woff2")
      format("woff2"),
    url("https://abs.twimg.com/responsive-web/client-web/Chirp-Bold.a573679a.woff")
      format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TwitterChirp";
  src: url("https://abs.twimg.com/responsive-web/client-web/Chirp-Heavy.f44ae4ea.woff2")
      format("woff2"),
    url("https://abs.twimg.com/responsive-web/client-web/Chirp-Heavy.d70ec7ca.woff")
      format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TwitterChirpExtendedHeavy";
  src: url("https://abs.twimg.com/fonts/v1/chirp-extended-heavy-web.woff2")
      format("woff2"),
    url("https://abs.twimg.com/fonts/v1/chirp-extended-heavy-web.woff")
      format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

#preview,
.preview-container {
  padding: 30px 15px;
  background-color: #000000;
}

.twitter-card {
  position: relative;
  transition-duration: 0.2s;
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid rgb(47, 51, 54);
  text-decoration: none;
  color: rgb(231, 233, 234);
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: row;
  width: 520px;
  font-size: 15px;
  font-weight: 400;

  &.summary {
    height: 130px;

    img {
      aspect-ratio: 1/1;
    }

    .text {
      padding: 12px;
    }
  }

  &.summary_large_image {
    // should be height: 260px; but twitter uses 272px
    height: 272px;

    & + .link {
      font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Helvetica, Arial, sans-serif;
      color: rgb(113, 118, 123);
      font-size: 13px;
    }

    img {
      // should be aspect-ratio: 2/1; but twitter uses 2500/1310
      aspect-ratio: 2500/1310;
    }

    .text {
      position: absolute;
      bottom: 12px;
      left: 12px;
      right: 12px;
      flex-direction: row;
      justify-content: flex-start;

      .link,
      .description {
        display: none;
      }

      .title {
        display: flex;
        align-items: center;
        font-weight: 400;
        background-color: rgba(0, 0, 0, 0.77);
        color: rgb(255, 255, 255);
        font-size: 13px;
        align-self: flex-start;
        height: 20px;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 4px;
        line-height: 16px;
        min-width: 0px;

        span {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.03);
  }

  img {
    object-fit: cover;
  }

  .text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2px;

    .link,
    .description {
      color: rgb(113, 118, 123);
      font-size: 15px;
      font-weight: 400;
    }
  }
}
